  .work-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px;
  }
  .work-grid img{
    width: 100%;
  }
  .box-grid {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    align-items: start;
    grid-gap: 3rem;
    margin-bottom: 5rem;
  }
  .box-grid2 {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    align-items: start;
    grid-gap: 3rem;
    margin-bottom: 5rem;
  }
  .img-hover :hover {
    box-shadow: 0px 0px 50px #e3420f;
  }
  .index {
    z-index: 100;
  }
  .img-box1 img , .img-box2 img , .img-box3 img{
    width:100%;
  }
  .img-box1 {
    background-color: #ffc2af;
    /* height: 400px; */
    z-index: 100;
  }
  .brf-box1 {
    border: 2px solid #FFC2AF;
    border-radius: 10px;
    height: auto;
    color: #233f4f !important;
    padding: 1.5rem;
    z-index: 0;
  }
  .work1{
    border: 2px solid #FFC2AF;
    border-radius: 10px;
    padding: 1.5rem;
  }
  .img-box2 {
    background-color: #b6ffff;
    /* height: 400px; */
    z-index: 100;
  }
  .brf-box2 {
    border: 2px solid #C9F6EB;
    border-radius: 10px;
    height: auto;
    color: #233f4f !important;
    padding: 1.5rem;
    z-index: 0;
  }
  .work2{
    border: 2px solid #C9F6EB;
    border-radius: 10px;
    padding: 1.5rem;
  }
  .img-box3 {
    background-color: #f2e4cf;
    /* height: 400px; */
    z-index: 100;
  }
  .brf-box3 {
    border: 2px solid #F2E4CF;
    border-radius: 10px;
    height: auto;
    color: #233f4f !important;
    padding: 1.5rem;
    z-index: 0;
  }
  .work3{
    border: 2px solid #F2E4CF;
    border-radius: 10px;
    padding: 1.5rem;
  }
  .brf-box1 h4, .brf-box2 h4, .brf-box3 h4{
    font-weight: bold;
  }
  .brf-box1 a{
    font-weight: bold;
    color: #E94F0C;
  }
  .brf-box2 a{
    font-weight: bold;
    color: #3B9E86;
  }
  .brf-box3 a{
    font-weight: bold;
    color: #B4875A;
  }
  .display-pc {
    display: grid;
  }
  .display-sp {
    display: none;
  }

  @media (max-width: 48em) {
    .work-grid{
      grid-template-columns: 1fr;
    }
    .box-grid,
    .box-grid2 {
      grid-template-columns: 1fr;
    }
    .display-pc {
      display: none;
    }
    .display-sp {
      display: grid;
    }
    .brf-box1,
    .brf-box2,
    .brf-box3 {
      height: auto;
    }
  }
  
  
  
/* Tab Navigation */
ul.nav { 
  width: 60%; 
  margin: 0 auto 2rem; 
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  border: 1px solid #A5B7C1; 
  border-radius: 2rem;
}
ul.nav li { 
  width: 50%; 
  padding: 1rem; 
  list-style: none; 
  text-align: center; 
  cursor: pointer; 
  transition: all 0.7s; 
  border-bottom-left-radius: 2rem; 
  border-top-left-radius: 2rem;
}
ul.nav li:nth-child(2) { 
  border-radius: 0; 
  border-bottom-right-radius: 2rem; 
  border-top-right-radius: 2rem;
}
ul.nav li:hover { 
  /* background: rgba(50, 224, 196, 0.15); */
  background: #e1e7eb;
  
}
ul.nav li.active { 
  background: #233f4f;
  color: #fff;
}
.work-brief{
  border: 2px solid #A5B7C1;
  border-radius: 10px;
  padding: 1.5rem;
}
.work-brief h5{
  margin-top: 0.5rem;
}