
.App {
  color: #233F4F;
  font-family: sans-serif;
  padding-left: 5rem;
  padding-right: 5rem;
}
a{
  text-decoration: none;
}
.hypen1{
  color: #00D2DF;
  font-weight: bolder;
}
.hypen2{
  color: #FFE70B;
  font-weight: bolder;
}
.hypen3{
  color: #0BFF7B;
  font-weight: bolder;
}
.hypen4{
  color: #FF0B45;
  font-weight: bolder;
}
@media (max-width: 48em) {
.App {
  padding-left: 1rem;
  padding-right: 1rem;
  }
}